body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff
}

a {
  text-decoration: none;
}
/*верхняя строка шапки сайта*/
.main-header-logo img {
  background-size: 220px 47px;
  padding: 13px 56px 15px 55px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  margin-left: 130px;
  float: left;
}

.main-header-top {
  height: 42px;
  width: 1200px;
  background-color: #293449;
  color: #ffffff;
}

.main-header-top label {
  float: left;
  margin-left: 49px;
  position: relative;
  padding-top: 14px;
  line-height: 12px;
}

.main-header-top input {
  background-color: #293449;
  border: 0;
}
.count a:first-child {
  color: #ffffff;
  float: left;
  text-align: left;
  left: 664px;
  top: 14px;
  position: absolute;
  line-height: 18px;
  height: 15px;
}

.count a:last-child {
  color: #ffffff;
  float: left;
  text-align: left;
  left: 820px;
  top: 14px;
  position: absolute;
  line-height: 18px;
  height: 15px;
}

.main-header-top button {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  position: absolute;
  right: 280px;
  color: #ffffff;
  line-height: 15px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  padding-top: 3px;
  border: 0;
}




/*нижняя строка шапки сайта*/


.main-header-bottom>a {
  float: left;
  color: #ee3643;
  border: solid 3px #ffffff;
  position: absolute;
  font-size: 21px;
  text-align: center;
  vertical-align: center;
  padding: 10px 52px 8px 74px;
  left: 524px;
  top: 88px;
  left: 450px;
}

 .main-header-bottom>p{
  width: 250px;
  height: 13px;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
  position: absolute;
  left: 460px;
  top: 128px;
  width: 260px;

}

.main-navigation {
  width: 940px;
  height: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  margin-top: 89px;
  margin-left: 130px;
  background-origin: border-box;
  padding: 0;
  position: relative;
  }

.main-navigation li {
  display: inline-block;
  text-align: center;

}

.site-navigation a {
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  display: block;
  padding: 28px;
  padding-top: 22px;

}
.main-header-bottom {
  overflow: hidden;
  height: 278px;
  width: 1200px;
  background-color: #f4f7f9;
  border: 0;
}

.page-title {
  width: 196px;
  height: 60px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
  position: absolute;
  padding-left: 183px;
  margin-top: 49px;
}

.user-navigation li {
  display: inline-block;
  text-align: center;

}

.user-navigation a {
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
  display: block;
  padding: 28px;
  padding-top: 22px;
}

.login a {
  width: 46px;
  height: 16px;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  padding: 14px 27px 15px 48px;
  position: absolute;
  left: 789px;
  top: 88px;
}

.registration a {
  width: 100px;
  height: 20px;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  padding: 14px 25px 11px 25px;
  position: absolute;
  left: 920px;
  top: 88px;
}
