body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff
}

a {
  text-decoration: none;
}

.main-header-top {
  background-color: #293449;
  height: 42px;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #293449;
}

.site-navigation,
.user-navigation,
.popular-goods-list,
.popular-sellers,
.nav-footer-1,
.nav-footer-2,
.social {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.user-navigation a:hover {
  background-color: #32425c;
}

.site-navigation a:active,
.user-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.offers {
  list-style: none;
}

.offers li,
.popular-goods {
  text-align: center;
}

.popular h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
}

.popular-goods {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.services,
.about,
.contacts,
.delivery {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services h3,
.about h3,
.contacts h3 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
}

.delivery h3 {
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", Arial, sans-serif;
}

.make-order-button {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  color: #ffffff;
  line-height: 15px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  padding-top: 3px;
  border: 0;
}

.make-order-button:hover {
  background-color: #5fbb2d;
}

.make-order-button:focus {
  background-color: #518534;
}
.make-order-button:active {
  background-color: #63a63e;
}

.login a {
  width: 46px;
  height: 16px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  padding: 14px 27px 11px 48px;
}

.login a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.login a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.registration a {
  width: 100px;
  height: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  padding: 14px 25px 11px 25px;
}

.registration a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.registration a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.popular a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    width: 253px;
    height: 38px;
    background-color: #ee3643;
    width: 253px;
    height: 38px;
    text-transform: uppercase;
    padding: 14px 55px;
    }

.contacts .write-us {
  font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    width: 253px;
    height: 38px;
    background-color: #ee3643;
    width: 220px;
    height: 38px;
    text-transform: uppercase;
    padding: 14px 40px 12px 41px;
}

.about a {
  font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    width: 253px;
    height: 38px;
    background-color: #ee3643;
    width: 220px;
    height: 38px;
    text-transform: uppercase;
    padding: 14px 40px 12px 41px;
}

.main-header-logo img {
  background-size: 220px 47px;
  padding: 13px 56px 15px 55px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.main-header-logo img:hover {
  background-color: #ca2c37;
}

.main-header-logo img:active {
  background-color: #ba2732;
}

.popular a:hover,
.lost a:hover,
.about a:hover {
  background-color: #ca2c37;
}

.popular a:active,
.lost a:active,
.about a:active {
  background-color: #ba2732;
}

.footer-1 {
  background-color: #32425c;
}

.footer-2 {
  background-color: #293449;
}

.main-footer,
.main-footer a {
  color: #ffffff;
}

.nav-footer-2 a,
.mail a,
.developer a {
  color: #ffd180;
}

.mail a:hover,
.developer a:hover {
  text-decoration: underline;
}

.mail a:active,
.developer a:active {
  color: #ee3643;
}

.main-header-top input {
  font: inherit;

  background-color: transparent;
  border: none;
}

.main-header-top input:hover {
  background-color: #212a3a;
}

.main-header-top:focus {
  background-color: #ffffff;
}

.main-header-top input:active {
  background-color: #293449;
}

.nav-footer-1 a:hover,
.nav-footer-2 a:hover {
  text-decoration: underline;
}

.nav-footer-1 a:active {
  color: rgba(241, 245, 247, 0.5);
}

.nav-footer-1 a:active {
  color: rgba(255, 209, 128, 0.5);
}

.page-title {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.tel-number a {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.main-header {
  background-color: #f4f7f9;
}

.menu-count a {
  color: #ffffff;
}

.menu-count a:last-child {
  width: 74px;
  height: 15px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: var(--white-two);
  background-color: #ee3643;
  padding: 14px 26px 13px 50px;
}

.count a {
  color: #ffffff;
}

.main-header-top label {
  color: #ffffff;
}

.user-links li {
  list-style: none;
}

.user-links li a {
  text-decoration: underline;
  color: #32425c;
}

.few-words-about h2 {
  font-size: 30px;
  line-height: 30px;
}

.few-words-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
/*проверять отсюда*/

.main-header {
  display: flex;
  flex-direction: column;
}

.main-header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header-logo {
  margin-left: 130px;
}

.make-order-button {
  margin-right: 130px;
}

.main-header-top form {
  flex-basis: 314px;
}

.count {
 flex-basis: 269px;
 display: flex;
 justify-content: flex-end;
 margin-right: 31px;
}

.count a:first-child {
  margin-right: 78px;
}

.main-header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.page-title {
  flex-basis: 210px;
  flex-wrap: wrap;
  margin-left: 183px;
  margin-top: 54px;
}

.address-top {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
  margin-top: 10px;
}

.tel-number {
  border: solid 3px #ffffff;
  padding: 13px 52px 11px 74px;
  margin-top: 59px;
}

.user-navigation {
  display: flex;
  align-items: center;
}

.user-navigation .registration{
  margin-right: 130px;
  margin-left: 10px;
  margin-top: 15px;
}

.user-navigation .login {
  margin-top: 15px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;

}

.main-navigation {
  margin-left: 130px;
  margin-right: 130px;
  padding: 1px 55px 1px 7px;
}

.footer-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-basis: 322px;

}

.address-bottom {
  margin-left: 130px;
  margin-top: 32px;
  width: 322px;
}



.tel-number-bottom {
  margin-left: 130px;
  margin-top: -20px;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo-address {
  display: flex;
  flex-direction: column;
}



.nav-footer-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 100px;
  margin-right: 130px;
  width: 720px;

}

.nav-footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  margin-left: 105px;
  width: 615px;
  margin-top: -60px;
}
