body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff
}

a {
  text-decoration: none;
}

.main-header-top {
  background-color: #293449;
  height: 42px;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #293449;
}

.site-navigation,
.user-navigation,
.popular-goods-list,
.popular-sellers,
.nav-footer-1,
.nav-footer-2,
.social {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.user-navigation a:hover {
  background-color: #32425c;
}

.site-navigation a:active,
.user-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.offers {
  list-style: none;
}

.offers li,
.popular-goods {
  text-align: center;
}

.popular h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
}

.popular-goods {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.services,
.about,
.contacts,
.delivery {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services h3,
.about h3,
.contacts h3 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
}

.delivery h3 {
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", Arial, sans-serif;
}

.make-order-button {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  color: #ffffff;
  line-height: 15px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  padding-top: 3px;
  border: 0;
}

.make-order-button:hover {
  background-color: #5fbb2d;
}

.make-order-button:focus {
  background-color: #518534;
}
.make-order-button:active {
  background-color: #63a63e;
}

.login a {
  width: 46px;
  height: 16px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  padding: 14px 27px 11px 48px;
}

.login a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.login a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.registration a {
  width: 100px;
  height: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  padding: 14px 25px 11px 25px;
}

.registration a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.registration a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.popular a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    width: 253px;
    height: 38px;
    background-color: #ee3643;
    width: 253px;
    height: 38px;
    text-transform: uppercase;
    padding: 14px 55px;
    }

.contacts .write-us {
  font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    width: 253px;
    height: 38px;
    background-color: #ee3643;
    width: 220px;
    height: 38px;
    text-transform: uppercase;
    padding: 14px 40px 12px 41px;
}

.about a {
  font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    width: 253px;
    height: 38px;
    background-color: #ee3643;
    width: 220px;
    height: 38px;
    text-transform: uppercase;

}

.main-header-logo img {
  background-size: 220px 47px;
  padding: 13px 56px 15px 55px;
  box-shadow: 0px 5px 0px 0px #b52933;
  background-color: #ee3643;
}

.main-header-logo img:hover {
  background-color: #ca2c37;
}

.main-header-logo img:active {
  background-color: #ba2732;
}

.popular a:hover,
.lost a:hover,
.about a:hover {
  background-color: #ca2c37;
}

.popular a:active,
.lost a:active,
.about a:active {
  background-color: #ba2732;
}

.footer-1 {
  background-color: #32425c;
}

.footer-2 {
  background-color: #293449;
}

.main-footer,
.main-footer a {
  color: #ffffff;
}

.nav-footer-2 a,
.mail a,
.developer a {
  color: #ffd180;
}

.mail a:hover,
.developer a:hover {
  text-decoration: underline;
}

.mail a:active,
.developer a:active {
  color: #ee3643;
}

.main-header-top input {
  font: inherit;

  background-color: transparent;
  border: none;
}

.main-header-top input:hover {
  background-color: #212a3a;
}

.main-header-top:focus {
  background-color: #ffffff;
}

.main-header-top input:active {
  background-color: #293449;
}

.nav-footer-1 a:hover,
.nav-footer-2 a:hover {
  text-decoration: underline;
}

.nav-footer-1 a:active {
  color: rgba(241, 245, 247, 0.5);
}

.nav-footer-1 a:active {
  color: rgba(255, 209, 128, 0.5);
}

.page-title {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.tel-number a {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.main-header {
  background-color: #f4f7f9;
}

.menu-count a {
  color: #ffffff;
  width: 90px;
}

.count a {
  color: #ffffff;
  width: 90px;
}

.menu-count a:nth-child(2) {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: var(--white-two);
  background-color: #ee3643;
  padding: 12px 26px 12px 50px;
  margin-left: 28px;
}

.menu-count a:first-child {
  padding-top: 9px;
}

.main-header-top label {
  color: #ffffff;
}

.user-links li {
  list-style: none;
}

.user-links a{
  text-decoration: underline;
  color: #32425c;
  font-size: 16px;
}

.few-words-about h2 {
  font-size: 30px;
  line-height: 30px;
}

.few-words-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.main-header {
  display: block;
}

.main-header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

.header-top-1 {
  background-color: #293449;
}

.main-header-top form {
  flex-basis: 314px;
  position: relative;
  left: 49px;
}

.count {
 flex-basis: 269px;
 display: flex;
 justify-content: flex-end;
 margin-right: 31px;
}

.count a:first-child {
  margin-right: 78px;
}

.header-top-2 {
  width: 940px;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  width: 940px;
  bottom: 20px;
  padding-right: 55px;
  padding-left: 52px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #32425c;
  width: 940px;
  margin: 0 auto;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.footer-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-basis: 322px;
  width: 940px;
  margin: 0 auto;
}

.address-bottom {
  top: 26px;
  width: 322px;
  position: relative;
}

.tel-number-bottom {
 position: relative;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bottom-1 {
  background-color: #32425c;
  height: 193px;
}

.footer-logo-address {
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;
}



.nav-footer-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 153px;

  width: 580px;

}

.nav-footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  margin-left: 91px;
  width: 490px;
  position: relative;
  top: -116px;
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}


.bottom-2 {
  background-color: #293449;

}

.developer {
  width: 100px;
  margin-left: 53px;
  font-family: "Cuprum";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  display: block;
  margin-top: 23px;
}

.mail {
  width: 135px;
  font-family: "Cuprum";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  display: block;
  margin-top: 23px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  width: 300px;
}

.menu-count {
  display: flex;
  flex-direction: row;
}

.about-contacts {
  display: flex;
  width: 940px;
  margin: 0 auto;
  flex-direction: row;
}

.about {
  display: flex;
  justify-content: space-between;
  width: 640px;
  flex-wrap: wrap;
  flex-direction: column;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 300px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 120px;
  position: relative;
  left: 143px;
}

.about a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  position: relative;
  top: 8px;
}

.contacts p {
  position: relative;
  top: -20px;
}

.contacts img {
  position: relative;
  top: -18px;
}

.transport-companies li {
  line-height: 36px;
  font-weight: bold;
  font-family: Cuprum;
  font-size: 18px;
}

.header-top-2 {
  height: 60px;
  background-color: #f4f7f9;
}

.second-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  width: 255px;
  position: relative;
  left: 200px;
}

.second-navigation li {
  list-style: none;
  position: relative;
  margin-right: 39px;
}

.second-navigation li::before {
  content: "";
  position: absolute;
  background-image: url('/img/icon-right-small.svg');
  width: 8px;
  height: 12px;
  top: 6px;
  left: -20px;
}

.second-navigation .catalog-home::after {
  content: "";
  position: absolute;
  background-image: url('/img/icon-home.svg');
  width: 14px;
  height: 12px;
  top: 6px;
  right: 85px;
}

.perforators {
  text-transform: uppercase;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  background-color: #f2f6f8;
  padding: 32px 742px 34px 30px;
  margin: 0 auto;
  width: 940px;
  box-sizing: border-box;
}

.filters form{
  width: 220px;
  display: block;
  position: relative;
  text-transform: uppercase;
}

.filters label{
  width: 220px;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;

  position: relative;
  cursor: pointer;
  user-select: none;

  font-family: "PTSans";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.filters h4 {
  margin-bottom: 20px;
  font-family: "PTSans";
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.filters h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #f7f3ec;
  padding: 14px 149px 15px 18px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 23px;
  height: 23px;

  background-image: url("/img/checkbox-off.svg");
}

.filters ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filters ul:last-of-type {
  margin-bottom: 75px;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;

  width: 27px;
  height: 23px;
  left: 0px;
  top: -2px;
  background-image: url("/img/checkbox-on.svg");
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;

  width: 25px;
  height: 25px;
  left: 0px;
  top: -2px;
  background-image: url("/img/radio-off.svg");
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;

  width: 25px;
  height: 25px;
  left: 0px;
  top: -2px;
  background-image: url("/img/radio-on.svg");
}

.filter-submit {
  width: 140px;
  height: 38px;
  background-color: #ffffff;
  color: #000000;
  font-family: "PTSans";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  border: solid 1px #e5e5e5;
  text-transform: uppercase;
}

.catalog-item {
  width: 220px;
  position: relative;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog {
  width: 750px;
  display: flex;
  margin-left: 15px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  list-style: none;
}

.catalog-item a {
  display: flex;
  flex-direction: column;

  color: #000000;
  font-family: "PTSans";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
}

.catalog-item h3 {
  margin: 12px 26px 18px 26px;
}

.catalog-item-image img {
  margin: 0;
}

.catalog-item-price {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 18px 36px 21px 43px;
}

.catalog-item-price del {
  color: #999999;
  font-family: "PTSans";
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 13px;
}

.catalog-item-price b {
  background-image: url("/img/red-button.svg");
  background-size: 140px 38px;
  padding: 13px 40px 13px 36px;
  background-repeat: no-repeat;
  background-position-y: center;
  font-family: "PTSans";
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.buy {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  font-family: "Cuprum";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 58px 43px 8px 42px;
}

.remember {
  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;
  font-family: "Cuprum";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;
  margin: 0px 43px 50px 42px;
}

.catalog-item:nth-child(3n) h3{
  margin-bottom: 48px;
}

.catalog-item:nth-child(3)::before,
.catalog-item:nth-child(5)::before,
.catalog-item:nth-child(7)::before {
  content: "";

  position: absolute;

  width: 60px;
  height: 59px;
  right: 0px;
  top: 0px;
  background-image: url("/img/new-flag.png");
}

.catalog-item:nth-child(3),
.catalog-item:nth-child(5),
.catalog-item:nth-child(7){
  position: relative;
}

.sort {
  display: flex;
  margin: 0 auto;
  margin-left: 15px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  width: 705px;
  position: relative;
  background-color: #f7f3ec;
}

.sort h3 {
  padding: 14px 90px 15px 19px;
  font-family: "PTSans";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  text-transform: uppercase;
}

.sort ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style: none;
  margin: 0 auto;
  font-family: "PTSans";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  text-transform: uppercase;
}


.filter li:first-child {
  list-style: none;
  position: relative;
  padding: 14px 71px 13px 0px;
}

.filter li:nth-child(2) {
  list-style: none;
  position: relative;
  padding: 14px 71px 13px 0px;
}

.filter li:last-child {
  list-style: none;
  position: relative;
  padding: 14px 50px 13px 0px;

}

.direction li {
  list-style: none;
  position: relative;
  padding-right: 20px;
}

.main-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 940px;
  margin: 0 auto;
}

.filters {
  display: flex;
}

.index-columns-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.paginator {
  display: flex;
  width: 700px;
}

header {
  padding-bottom: 60px;
}

.bottom-navigation {
  margin-top: 35px;
}

/*шапка сайта*/

.main-header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 940px;
  margin: 0 auto;
}

.page-title {
  width: 205px;
  margin-top: 54px;
  margin-bottom: 44px;
  font-family: "Cuprum";
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: var(--button);
  margin-left: 52px;
  margin-right: 40px;
}

.tel-number {
  border: solid 3px #ffffff;
  padding: 13px 52px 11px 74px;
  display: inline-block;
  margin-top: 47px;
  font-family: "Cuprum";
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--button);
}

.address-top {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
}

.username {
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  padding: 14px 69px 11px 47px;
  border: 1px solid #ffffff;
  margin-top: 48px;
}

.user-links {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  margin-top: -5px;
}

.user-links li:first-child {
  margin-left: -20px;
  margin-right: 32px;
}

.user-navigation {
  display: flex;
  align-items: center;
  position: relative;
  top: -8px;
}

.user-navigation .login {
  margin-right: 10px;
}

/*декоративные элементы шапки сайта*/

.main-header-top label::before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-search.svg");
  width: 17px;
  height: 17px;
  left: -32px;
  top: 4px;
}

.count a:first-child::before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-bookmark.svg");
  width: 14px;
  height: 16px;
  left: -5px;
  top: 3px;
}

.count a {
  position: relative;
  padding-left: 20px;
}

.count a:last-child::before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-cart.svg");
  width: 15px;
  height: 15px;
  left: -5px;
  top: 3px;
}

.tel-number a::before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-phone.svg");
  width: 19px;
  height: 19px;
  left: -65px;
  top: 2px;
}

.tel-number a {
  position: relative;
}

.login a::before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-login.svg");
  width: 20px;
  height: 17px;
  left: 50px;
  top: 56px;
}

.username::after {
  content: "";
  position: absolute;
  background-image: url("/img/icon-logout.svg");
  width: 20px;
  height: 17px;
  right: 10px;
  top: 17px;
}

.username {
  position: relative;
}

.username::before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-user.svg");
  width: 20px;
  height: 18px;
  left: 10px;
  top: 15px;
}

.user-links li:first-child::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  right: -18px;
  top: 7px;
}

.user-links li {
  position: relative;
}

/*соцсети*/

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  position: relative;
  margin-right: 3px;
}

.soc-btn-vk:before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-vk.svg");
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  left: 7px;
  top: 13px;
}

.soc-btn-fb:before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-fb.svg");
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  left: 15px;
  top: 11px;
}

.soc-btn-insta:before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-insta.svg");
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  left: 12px;
  top: 11px;
}

.social {
  display: flex;
  justify-content: flex-start;
}

.copyright {
  font-family: "Cuprum";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  display: block;
  padding-right: 0px;
  margin-top: 10px;
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.soc-btn-vk {
  margin-left: 70px;
}

/*карточка товара*/

.catalog-item .action {
  position: absolute;
  top: 43px;
  left: 42px;
  display: none;
  width: 135px;
}

.catalog-item:hover,
.catalog-item:focus {
  border-color:transparent;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, .5);
  display: block;
}

.catalog-item:hover > .catalog-item-image {
  z-index: -1;
  opacity: 0;
}

.btn-buy {
  margin-bottom: 8px;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 #367315;
  font-family: "Cuprum";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #367315;
}

.btn-bookmark {
  padding: 9px 0;
  text-align: center;
  text-transform: uppercase;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 2px;
  font-family: "Cuprum";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
}

.btn-bookmark:hover,
.btn-bookmark:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.btn-bookmark:active {
  color: #c1c6ce;
  background-color: #ffffff;
  border-color: #c1c6ce;
}


